<div class="card">
  <h2>Sign up</h2>
  <div class="card">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card">
        <%= f.label :email %><br />
        <%= f.email_field :email, 
              autofocus: true, 
              autocomplete: "email", 
              placeholder: "Enter email here", 
              class: "card-field",
              size: 50 %>
      </div>

      <div class="card">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, 
              autocomplete: "new-password",
              placeholder: "Enter password here", 
              class: "card-field",
              size: 50 %>
      </div>

      <div class="card">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, 
              autocomplete: "new-password", 
              placeholder: "Enter password here", 
              class: "card-field",
              size: 50 %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn" %>
      </div>
    <% end %>

  </div>
  <%= render "devise/shared/links" %>
</div>
