<div>
  <h1 class="ra bold grey">BarryMarodiner.</h1>
  <h1 class="ra bold grey">Professional Streamer.</h1>
</div>


<div class="footer">
  <div>
    <%= link_to 'http://Twitch.tv/BarryMarodiner' do %>
      <%= image_tag 'twitch_icon.png', class: 'icon' %>
    <% end %>
    <%= link_to 'http://Instagram.com/BarryMarodiner' do %>
      <%= image_tag 'instagram_icon.png', class: 'icon' %>
    <% end %>
    <%= link_to 'https://vm.tiktok.com/ZMRhurcEm/' do %>
      <%= image_tag 'tiktok_icon.png', class: 'icon' %>
    <% end %>
  </div>
</div>